.star {
    color: gold;
    position: relative;
    display: inline-block;
}

.halfStar::before, .halfStar::after {
    content: '★';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.halfStar::before {
    color: gold;
}

.halfStar::after {
    color: #ccc;
    left: 50%;
}

.emptyStar {
    color: #ccc;
}
