@import "tailwindcss";


.star {
    color: gold; /* Gold color for full stars */
}

.half-star::before {
    content: '★';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: gold;
}

.half-star::after {
    content: '★';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: #ccc; /* Gray color for empty part of half star */
}

.empty-star {
    color: #ccc; /* Gray color for empty stars */
}
